{
  "/": {
    "webHomeDir": "${user.dir}",
    "webFolder": "",
    "langFolder": "",
    "adminConsoleUrl": "http://127.0.0.1:8080/admin"
  },
  "/2d-game": {
    "enabled": true,
    "path": "/2d-game",
    "name": "2D Adventure",
    "swingConfig": {
      "enabled": true,
      "homeDir": "${user.dir}",
      "jreExecutable": "${java.home}/bin/java",
      "javaVersion": "17",
      "launcherType": "Desktop",
      "classPathEntries": [
        "${user.dir}/webswing/apps/2d-game.jar"
      ],
      "launcherConfig": {
        "mainClass": "main.Main",
        "args": ""
      }
    }
  }
}
